{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Info Form{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="firstname">Firstname</label>
    <input name="firstname" id="firstname" value="{{ request.form['firstname'] }}" required>
    <label for="lastname">Lastname</label>
    <input name="lastname" id="lastname" value="{{ request.form['lastname'] }}" required>
    <label for="weight">Weight</label>
    <input name="weight" id="weight" value="{{ request.form['weight'] }}">
    <label for="height">Height</label>
    <input name="height" id="height" value="{{ request.form['height'] }}">
    <label for="age">Age</label>
    <input name="age" id="age" value="{{ request.form['age'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}